<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.doongie.kream.bid.dao.BidDAO">

	<insert id="insertBid" parameterType="map">
		INSERT INTO
			`bid`
		(
			`userId`
			, `modelId`
			, `act`
			, `price`
			, `size`
			, `address`
			, `account`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{modelId}
			, #{act}
			, #{price}
			, #{size}
			, #{address}
			, #{account}
			, now()
			, now()
		)
		
	
	
	</insert>
	
	<select id="selectBid" parameterType="map" resultType="com.doongie.kream.bid.model.Bid">
		
		SELECT 
			`id`
			, `userId`
			, `modelId`
			, `act`
			, `price`
			, `size`
			, `address`
			, `account`
			, `createdAt`
			, `updatedAt`
		FROM
			`bid`
		WHERE
			`modelId` = #{modelId}
		AND
			`act` = #{act}
		AND 
			`size` = #{size}
		<if test="act == '구매'" >ORDER BY `price` DESC LIMIT 1</if>	
		<if test="act == '판매'" >ORDER BY `price` ASC LIMIT 1</if>
		
	</select>


</mapper>