<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.doongie.kream.user.dao.UserDAO">
	
	<insert id="insertUser" parameterType="map">
	
		INSERT INTO 
			`user`
		(
			`is_manager`
			, `email`
			, `password`
			, `userName`
			, `phoneNumber`
			, `address`
			, `createdAt`
			, `updatedAt`
		
		)
		VALUE
		(
			#{is_manager}
			, #{email}
			, #{password}
			, #{userName}
			, #{phoneNumber}
			, #{address}
			, now()
			, now()
		)
	
	
	</insert>

</mapper>