@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto; 
}

header{
	height:100px;
	width:1200px;
}

.nav-1{
	height:100px;
	width:500px;
}

.nav-2{
	height:100px;
	width:1200px;
}



.contents > .nav-box{
	height:100px;
	width:1000px;
}


.contents > .join-box{
	height:1000px;
	width:1200px;
}

.contents > .login-box{
	height:700px;
	width:1200px;
}

.contents > .edit-box{
	height:70px;
	width:800px;
}

.contents > .create-box{
	height: 1000px;
	width: 1200px;
}

.contents > .detail-box{
	height:700px;
	width:1200px;		
}

#description{
	width:600px;
	height:700px;
}

.contents > .bid-box{
	height:1000px;
	width:1200px;
}

.filter{
	height:500px;
	width:200px;
}

.list-box{
	height:1000px;
	width:1000px;
}

.list-box-content{
	height:500px;
	width:250px;
}


.image-icon-size{
	font-size:25px;
	color:green;
}


footer{
	height:70px;
}