@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto; 
}

header{
	height:100px;
	width:200px;
	background-color:#dddddd;
}

nav{
	height:100px;
	width:1000px;
}


.contents > .join-box{
	height:1000px;
	width:800px;
}

.contents > .login-box{
	height:700px;
	width:800px;
}

.contents > .edit-box{
	height:1000px;
	width:800px;
}

.contents > .create-box{
	height: 1000px;
	width: 800px;
}

.contents > .detail-box{
	height:1000px;
	width:1200px;
	background-color:#dddddd;
	
}

.filter{
	height:500px;
	width:200px;
}

.list-box{
	height:1000px;
	width:1000px;
	background-color:#dddddd;
}

.list-box > .content{
	height:500px;
	width:250px;
}


.image-icon-size{
	font-size:25px;
	color:green;
}


footer{
	height:70px;
}